@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin-top: 25px;
}

body {
    max-width: 1365px;
    /* border: 2px solid red; */
    font-family: 'Mulish', sans-serif;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    height: 56px;
    /* min-width: 400px; */
}

.nav-logo img {
    width: 100px;
}

.nav-logo h2 span {
    color: #FF5400;
}

.nav-menu ul {
    display: flex;
    justify-content: space-around;
}

.nav-menu ul li {
    margin-left: 20px;
    list-style: none;
    color: #424247;
    font-size: 18px;
    font-weight: 700;
}

.nav-menu ul li:hover {
    color: #FF5400;
}

.menu-icon i {
    display: none;
}

.banner-section {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("Images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 500px;
    margin: auto;

}


.text-box {
    width: 80%;
    margin: 0 auto;

}

.banner-section .text-box h2 {
    text-align: center;
    color: #FFF;
    padding: 30px;
    font-size: 64px;
    font-weight: 800;

}

.banner-section .text-box p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 15px;
}

.select-ooptions {
    text-align: center;
    width: 80%;
    margin: 100px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.select-ooptions select {
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    background: #FFF;
    border-radius: 8px;
    margin: 0 auto;
}

button {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: #FF5400;
    cursor: pointer;
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

button i {
    margin-right: 10px;

}

.popular-tour {
    width: 80%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.popular-text {
    width: 50%;

}

.popular-text h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.popular-text button {
    margin-top: 40px;
}

.popular-text p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
}

.popular-text ul {
    margin-left: 20px;
    margin-top: 15px;
}

.popular-text ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 26px;

}

.popular-img {
    width: 50%;

}

.popular-img img {
    width: 100%;
}



/* .desitination-section{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: ;
    justify-content: center;
    align-items: center;

} */
.heading-box {
    width: 80%;
    margin: 20px auto 0px;
}

.heading-box h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.heading-box p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 15px;
    padding: 0px 10%;
}

.service-box {
    display: flex;
    width: 80%;
    gap: 16px;
    margin: 25px auto;
}

.service-box h4 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.service-box p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.service-box img {
    width: 60px;
}

.service-content {
    padding-left: 15px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 50%;
}

.box1 {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.box2 {
    margin: 0 auto;
    margin-top: 25px;
}

.box2 img {
    width: 60px;
}

.service-content * {
    padding: 10px;
}

.deal-heading {
    margin: 25px auto;
    width: 80%;
}

.deal-heading h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    font-weight: 800;
}

.deal-heading p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    max-width: 60%;
    margin: 25px auto;
}


.offer-box {
    width: 80%;
    margin: 25px auto;
    position: relative;
    height: 500px;
    border-radius: 16px;
    background-image: url("Images/Group 39.png");
}

.offerbox2 {
    background-image: url("Images/Group 40.png");
    position: relative;
}
.offerDeatails2{
    position: absolute;
    left: 20px;
    top: 20px;
}

.offer-details {
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 45%;
    height: 450px;
    position: absolute;
    right: 20px;
    top: 20px;
}

.icons {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: #FF5400;
    font-size: 10px;
    font-weight: 400;
}

.offer-details * {
    margin: 10px 10px;
}

.offer-details h4 {
    color: #131318;
    margin: 25px 10px;
    font-size: 24px;
    font-weight: 800;
}

.offer-details p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.price-div p {
    color: #FF5400;
    margin: 0;
    font-size: 20px;
    font-weight: 800;
}



.btn-div{
    width: 80%;
    margin: 0 auto;
   
}
.btn-div button{
    display: block;
    margin: 25px auto;
}




@media screen and (max-width: 600px) {
    body {
        max-width: 600px;

    }

    .nav-menu ul {
        display: none;

    }

    nav {
        padding: 5px;
        gap: 10px;
    }

    .menu-icon i {
        display: block;
        font-size: 25px;

    }

    header {
        margin-top: 10px;
    }

    .nav-logo {
        font-size: 10px;
        font-weight: 800;
        min-width: 200px;
    }

    .nav-logo img {
        width: 40px;
    }

    .banner-section {
        height: 600px;
    }

    .select-ooptions {
        margin: 50px auto;
    }

    .select-ooptions select {
        width: 90%;
        height: 52px;
        margin-top: 10px;


    }

    .banner-section .text-box h2 {
        padding: 15px;
        font-size: 30px;

    }

    .banner-section .text-box p {
        color: #FFF;
        font-size: 16px;
        line-height: 26px;
    }

    button {
        margin-top: 10px;
        width: 90%;
        color: #FFF;
        height: 52px;
    }

    .popular-tour {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .popular-img {
        width: 100%;

    }

    .popular-text {
        width: 100%;
    }

    .service-box {
        flex-direction: column;
        margin-top: 15px;
    }

    .service-content {
        margin: 15px auto;
        width: 100%;
    }

    .heading-box h2 {
        font-size: 30px;
    }

    .box2 {
        width: 80%;

    }

    .heading-box p {
        font-size: 13px;
    }



    .deal-heading {
        margin: 25px auto;
        width: 80%;
    }

    .deal-heading h2 {
        font-size: 30px;
    }

    .deal-heading p {
        font-size: 16px;
    }


}